.header{
  font-family: "Lucida Calligraphy";
  color: black;
  -webkit-text-stroke: 1px rgb(255,194,212);
  text-align: center;
}

.navbar {
  background-color: rgb(255, 225, 234);
  font-size: 28px;
  border: black;
  height: auto;
}

.nav-item {
  border-right: 2px solid black;
  letter-spacing: .36px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-nav {
  flex-direction: row;
}

.last-child {
  border-right: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  background-color: rgba(255, 244, 244, 0.404);
}

.homepage-carousel{
  padding-top: 75px;
}

.display-4 {
  border-radius: 25px;
  text-align: center;
  padding-top: 20px;
  background: white;
}

.textbox {
  margin-top: 20px;
  border-style: ridge;
}

.summary-goals{
  width: 600px;
}

.summary {
  font-family: segoe script;
}

.greyscale {
  background-color: rgba(189, 189, 189, 0.596);
  height: 124px;
  border-style: ridge;
  border-radius: 5px;
  box-sizing: border-box;
  width: 135px;
}

.first-box{
  margin-left: 15px;
}

.primary-button {
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

h2 {
  color: rgb(78, 78, 78);
}

p {
  color: rgb(78, 78, 78)
}

.map {
  margin-top: 25px;
}

.adjustedcarousel {
  padding-top: 20px;
  width: 550px;
}

.spacebox {
  margin-top: 20px;
}

.about-carousel-2{
  width: 460px;
  padding-top: 20px;
}

.about-owner{
  width: 550px;
}

.services {
  text-align: center;
  font-family: segoe script;
  font-size: 80px;
  color: rgb(102, 102, 102);
}

.services-2 {
  height: 300px;
}

.contact-us {
  font-family: segoe script;
  text-align: center;
  font-size: 45px;
}

.contact-information {
  text-align: center;
  font-size: 35px;
}

.class {
  text-align: center;
}

.left {
  text-align: left;
  margin-left: 20px;
}

.greyscale-2{
  background-color: rgba(189, 189, 189, 0.596);;
}

.FAQ-box{
  width: 700px;
}

.center {
  text-align: center;
}

.askbox {
  height: 350px;
}

.marginbox {
  margin-top: 100px;
}

.margintextbox {
  margin-top: 60px;
}

footer {
  
  background-color: rgb(228, 228, 228);
  text-align: center;
}
.location{
  margin-top: 40px;
}
.info{
  font-size: 15px;
  color: rgb(102, 102, 102);
}
.single-carousel{
  height: 370px;
  padding-top: 30px;
  width: 400px;
}
.draping{
  height: 500px;
  object-fit: cover;
}

.carousel-item{
 
}
.redbasket{
  position: relative;
  overflow: hidden;
}
