/*HOMEPAGE*/
.header{
  font-family: "Lucida Calligraphy";
  color: black;
  -webkit-text-stroke: 1px rgb(255,194,212);
  text-align: center;
  font-size: 300px;
}

.navbar {
  background-color: rgb(255, 225, 234);
  font-size: 28px;
  height: auto;
}

.nav-item {
  border-right: 2px solid black;
  letter-spacing: .36px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.last-child {
  border-right: none;
}
/*END HOMEPAGE*/

/*STYLE FOR ALL PAGES*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*END STYLE FOR ALL PAGES*/

/*BODY TAG FOR ALL PAGES*/
body {
  background-color: rgba(255, 244, 244, 0.404);
  display: flex;
  flex-direction: column;
}
/*END BODY TAG*/

/*HOMEPAGE CAROUSEL*/
.homepage-carousel{
  padding-top: 30px;
}
/*END CAROUSEL*/

/*JUMBOTRON*/
.display-4 {
  border-radius: 25px;
  text-align: center;
  padding-top: 20px;
  background: white;
}

.textbox {
  margin-top: 20px;
  border-style: ridge;
}
/*END JUMBOTRON*/

/*HOMEPAGE JUMBOTRON*/
.summary-goals{
  width: 600px;
}
/*END HOMEPAGE JUMBOTRON*/

/*DESCRIPTIONS ON ALL PAGES*/
.summary {
  font-family: segoe script, Bradley Hand;
}
/*END DESCRIPTIONS*/

/*FOOTER STYLE*/
p {
  color: rgb(78, 78, 78)
}

footer {
  background-color: rgb(228, 228, 228);
  text-align: center;
}
/*END FOOTER STYLE*/

/*MAP*/
.map {
  margin-top: 25px;
}
/*END MAP*/

/*ABOUT PAGE CAROUSEL*/
.adjustedcarousel {
  padding-top: 20px;
  width: 550px;
}

.about-carousel-2{
  width: 460px;
  padding-top: 20px;
  margin-left: 55px;
}
/*END ABOUT PAGE CAROUSEL*/

/*CONTACT PAGE STYLES*/
.spacebox {
  margin-top: 20px;
}

.location{
  margin-top: 40px;
}
/*END CONTACT PAGE STYLES*/

/*CONTACT STYLES*/
.contact-us {
  font-family: segoe script,'Times New Roman', Times, serif;
  text-align: center;
  font-size: 45px;
}

.contact-information {
  text-align: center;
  font-size: 35px;
}

.info{
  font-size: 15px;
  color: rgb(102, 102, 102);
}
/*END CONTACT STYLES*/

/*SERVICES STYLES*/
.services {
  text-align: center;
  font-family: segoe script;
  font-size: 80px;
  color: rgb(102, 102, 102);
}

.services-2 {
  height: 300px;
}

.services-3{
  height: 400px;
}

.text-size{
  font-size: 20px;
}
/*END SERVICES STYLES*/

.class {
  text-align: center;
}

/*FAQ STYLES*/
.left {
  text-align: left;
  margin-left: 20px;
}

.greyscale-2{
  background-color: rgba(189, 189, 189, 0.596);;
}

.FAQ-box{
  width: 700px;
  padding-top: 30px;
}

.marginbox {
  margin-top: 45px;
}

.question-style{
  text-align: center;
  font-family: segoe script;
  font-size: 100px;
  color: rgb(102, 102, 102);
  padding-top: 52px;
}
/*END FAQ STYLES*/

/*REVIEW STYLES*/
.margintextbox {
  margin-top: 60px;
}

.review-box{
  padding-top: 20px;
}
/*END REVIEW STYLES*/


/*ABOUT PAGE STYLES*/
.about-owner{
  margin-left: 10px;
  width: 550px;
}

.about-business{
  margin-left: 12px;
}

.single-carousel{
  height: 370px;
  padding-top: 30px;
  width: 400px;
  margin-left: 66px;
}
/*END ABOUT PAGE STYLES*/

/*VENUES STYLES*/
.venuesspace{
  padding-top: 15px;
}
.pictureBorder{
  border-radius: 10px;
  border-color: black;
  border: 5px solid rgb(0, 0, 0),
}
/*END VENUES STYLES*/

/*MEDIA QUERIES*/
@media screen and (max-width: 1030px) {
  .summary-goals{
    width: 900px;
  }
  .homepage-carousel{
    width: 900px;
  }
  .services{
    font-size: 175px;
    padding-top: 57px;
  }
  .paper{
    padding-top: 30px;
  }
  .pencil{
    height: 500px;
  }
  .plastic{
    padding-top: 70px;
  }
  .picturesize{
    width: 450px;
  }
  .about-owner{
    width: 900px;
  }
  .about-business{
    width: 900px;
  }
  .single-carousel{
    width: 500px;
    margin-left: 220px;
  }
  .adjustedcarousel2{
    margin-left: 220px;
  }
  .FAQ-box{
    width: 900px;
  }
  .marginbox{
    width: 700px;
  }
  .review-box{
    width: 900px;
  }
  .margintextbox{
    width: 900px;
  }
  .map{
    margin-left: 35px;
    width: 440px;
  }
  .contact-us{
    font-size: 80px;
  }
}
@media screen and (max-width: 780px) {
  .summary-goals{
    width: 665px;
  }
  .nav-item {
    letter-spacing: .36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
  }
  .contact-information{
    font-size: 20px;
  }
  .about-owner{
    width: 700px;
  }
  .about-business{
    width: 700px;
  }
  .picturesize{
    width: 275px;
  }
  .margintextbox{
    width: 700px;
  }
  .marginbox{
    width: 700px;
  }
  .single-carousel{
    width: 450px;
    margin-left: 110px;
  }
  .review-box{
    width: 650px;
  }
  .map{
    width: 325px;
  }
  .adjustedcarousel2{
    margin-left: 110px;
  }
}
@media screen and (max-width: 430px) {
  .summary-goals{
    width: 400px;
  }
  .services-3{
    height: 430px;
  }
  .question-style{
    font-size: 40px;
  }
  .single-carousel{
    width: 300px;
    margin-left: 35px;
  }
  .adjustedcarousel2{
    width: 300px;
    margin-left: 45px;
  }
  .review-box{
    width: 370px;
  }
  .map{
    width: 375px;
  }
  .services{
    font-size: 80px;
  }
  .about-owner{
    width: 400px;
  }
  .about-business{
    width: 400px;
  }
}
@media screen and (max-width: 390px) {
  .summary-goals{
    width: 360px;
  }
  .services-3{
    height: 450px;
  }
  .adjustedcarousel2{
    margin-left: 20px;
    width: 300px;
  }
  .single-carousel{
    width: 300px;
    margin-left: 20px;
  }
  .pink{
    width: 100px;
  }
  .pizza{
    width: 200px;
  }
  .question-style{
    font-size: 60px;;
  }
  .review-box{
    width: 340px;
  }
  .services{
    font-size: 80px;
  }
  .contact-us{
    font-size: 75px;
  }
  .map{
    width: 300px;
  }
  .about-owner{
    width: 350px;
  }
  .about-business{
    width: 350px;
  }
}
/*END MEDIA QUERIES*/
